"version": 1
"control-service":
   "hostname": "{{ control_hostname }}"
   "port": 4524
"dataset":
   "backend": "ceph_flocker_driver"
   "storage_pool": "rbd"
   "ceph_conf_path": "/etc/ceph/ceph.conf"
