{
  "services": [
    {% for addr in address %}
      {
        "name": "elasticsearch",
        "address": "{{addr}}",
        "port": {{port}},
        "enableTagOverride": false,
        "check": {
            "script": "STATUS=`curl -sjkSL http://{{addr}}:{{port}}/_cluster/health|jq -r '.status'`; if [[ $STATUS =~ green ]]; then exit 0; elif [[ $STATUS =~ yellow ]]; then exit 1 ; else exit 127 ; fi",
            "interval": "10s"
        }
      }
    {% endfor %}
  ]
}